*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}


a{
    text-decoration: none;
}


:root{
    
    --primary-color:#010A10;
    --secondary-color: #A50113;
    --text-color: #DFE2DB;

}
    /* header nav */


