*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}


a{
    text-decoration: none;
}


:root{
    
    --first-color:aliceblue;
    --first-bground: black;
    --first-link-color: burlywood;

}
    /* header nav */


